[flake8]
# D100: Missing docstring in public module.
# D101: Missing docstring in public class.
# D103: Missing docstring in public function.
# D104: Missing docstring in public package.
extend-ignore = D100,D101,D103,D104
import-order-style = google
max-line-length = 99
show-source = true
statistics = true
