<launch>
  <arg name="start_paused" default="false" doc="Start the rosbag player in a paused state."/>
  <arg name="playback_rate" default="3.0" doc="Rate used to playback the bag."/>
  <arg name="rosbag_path" default="$(find beluga_example)/bags/perfect_odometry.bag" doc="Path of the rosbag to playback."/>
  <arg name="record_bag" default="false" doc="Whether to record a bagfile or not."/>
  <arg name="topics_to_record" default="/tf /amcl_pose /pose /odometry/ground_truth" doc="Topics to record in a new bagfile."/>
  <arg name="bagfile_output" default="" doc="Destination bagfile to create, defaults to timestamped folder"/>

  <node pkg="rosbag" type="play" name="rosbag_player" required="true" output="log"
        args="$(eval ' '.join(['--rate', str(playback_rate), '--pause' if start_paused else '', '--clock', rosbag_path]))"/>

  <node if="$(arg record_bag)" pkg="rosbag" type="record" name="rosbag_recorder" output="log"
        args="$(eval ' '.join(['-o ' + bagfile_output if bagfile_output else '', topics_to_record]))"/>
</launch>
