name: CI pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test-lint:
    runs-on: ubuntu-22.04
    env:
      ROS_DISTRO: humble
      ROS_PACKAGES: beluga beluga_amcl
    container:
      image: ros:humble-ros-base-jammy
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          path: ${{ github.workspace }}/src

      - name: Install debian packages
        run: |
          sudo apt-get update
          sudo apt-get install clang-tidy lcov python3-colcon-coveragepy-result python3-pip -y

      - name: Install python packages
        run: pip install colcon-lcov-result==0.5.0 pre-commit==2.20.0

      - name: Install ros dependencies
        run: |
          rosdep update
          rosdep install -r --from-paths src/ --rosdistro ${{ env.ROS_DISTRO }} -y
          colcon mixin add default https://raw.githubusercontent.com/colcon/colcon-mixin-repository/c75e4b34a3959524564afb584e2aa33c7eec323c/index.yaml
          colcon mixin update default

      - name: Setup ccache
        uses: Chocobo1/setup-ccache-action@v1
        with:
          api_token: ${{ secrets.GITHUB_TOKEN }}
          update_packager_index: false

      - name: Build
        shell: bash
        # Do a build without coverage flags first to avoid generating .gcno files
        # that prevent the html output from lcov from being generated correctly.
        run: |
          source /opt/ros/${{ env.ROS_DISTRO }}/setup.sh
          colcon build --event-handlers=console_cohesion+ --symlink-install --packages-up-to ${{ env.ROS_PACKAGES }} --mixin ccache
          colcon build --event-handlers=console_cohesion+ --symlink-install --packages-up-to ${{ env.ROS_PACKAGES }} --mixin ccache coverage-gcc coverage-pytest

      - name: Test
        shell: bash
        run: |
          source /opt/ros/${{ env.ROS_DISTRO }}/setup.sh
          colcon lcov-result --initial
          colcon test --event-handlers=console_cohesion+ --return-code-on-test-failure --packages-select ${{ env.ROS_PACKAGES }} --mixin coverage-pytest --ctest-args -LE clang_tidy
          colcon lcov-result --verbose --packages-select ${{ env.ROS_PACKAGES }}
          colcon coveragepy-result --verbose --coverage-report-args -m --packages-select ${{ env.ROS_PACKAGES }}

      - name: Lint
        working-directory: ${{ github.workspace }}/src
        shell: bash
        run: |
          source /opt/ros/${{ env.ROS_DISTRO }}/setup.sh
          pre-commit run --all-files --verbose --show-diff-on-failure

      - name: Upload lcov artifacts
        uses: actions/upload-artifact@v3
        with:
          name: lcov_output
          path: lcov/
          retention-days: 7

  code-coverage:
    needs: build-test-lint
    runs-on: ubuntu-22.04
    steps:
      - name: Install python packages
        run: pip install lcov_cobertura==2.0.2

      - name: Download lcov artifacts
        uses: actions/download-artifact@v3
        with:
          name: lcov_output
          path: lcov/

      - name: Convert code coverage report to XML
        run: lcov_cobertura lcov/total_coverage.info

      - name: Check code coverage
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: coverage.xml
          fail_below_min: true
          thresholds: '50 75'

  build-docs:
    runs-on: ubuntu-22.04
    env:
      REPOSITORY_CHECKOUT_PATH: ${{ github.workspace }}/repository
      DOXYGEN_HTML_OUTPUT: ${{ github.workspace }}/docs
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          path: ${{ env.REPOSITORY_CHECKOUT_PATH }}

      - name: Checkout documentation branch
        uses: actions/checkout@v3
        with:
          path: ${{ env.DOXYGEN_HTML_OUTPUT }}
          ref: gh-pages

      - name: Install debian packages
        run: |
          sudo apt-get update
          sudo apt-get install doxygen graphviz perl texlive-base texlive-binaries -y

      - name: Generate documentation
        working-directory: ${{ env.REPOSITORY_CHECKOUT_PATH }}
        run: beluga/docs/generate_docs.sh

      - if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        name: Deploy documentation
        working-directory: ${{ env.DOXYGEN_HTML_OUTPUT }}
        env:
          COMMIT_MESSAGE: "Triggered by commit ${{ github.sha }}."
          COMMIT_CO_AUTHOR: "Co-authored-by: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>"
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add --all
          git commit -m "Update documentation" -m "${{ env.COMMIT_MESSAGE }}" -m "${{ env.COMMIT_CO_AUTHOR }}" || true
          git push
