name: CI pipeline

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-test-lint:
    runs-on: ubuntu-22.04
    env:
      ROS_DISTRO: humble
    container:
      image: ros:humble-ros-base-jammy
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v3

      - name: Install debian packages
        run: |
          sudo apt-get update
          sudo apt-get install clang-tidy python3-colcon-coveragepy-result python3-pip -y

      - name: Install python packages
        run: pip install pre-commit==2.20.0

      - name: Build and test
        uses: ros-tooling/action-ros-ci@0.2.7
        with:
          package-name: beluga beluga_amcl
          target-ros2-distro:  ${{ env.ROS_DISTRO }}
          import-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Lint
        shell: bash
        run: |
          git config --global --add safe.directory $PWD
          source /opt/ros/${{ env.ROS_DISTRO }}/setup.sh
          pre-commit run --all-files --verbose --show-diff-on-failure
