name: CI pipeline

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      ROS_DISTRO: galactic
    steps:
      - uses: actions/checkout@v3

      - name: Install clang-tidy
        run: sudo apt update && sudo apt install clang-tidy-6.0 -y

      - name: Setup ROS
        uses: ros-tooling/setup-ros@v0.2
        with:
          required-ros-distributions: ${{ env.ROS_DISTRO }}

      - name: Build and test
        uses: ros-tooling/action-ros-ci@v0.2
        with:
          package-name: beluga
          target-ros2-distro:  ${{ env.ROS_DISTRO }}
